.tablesize {
    font-size: 13px !important;
}

.form-control:disabled,
.form-control[readonly][id="table"] {
    background-color: transparent;
    opacity: 1;
    border: 0;
    font-size: 13px !important;
    height: 15px;
    width: auto;
    color: white;
}

.form-control:not([readonly])[id="table"] {
    background-color: grey;
    opacity: 1;
    border: 0;
    font-size: 13px !important;
    height: 15px;
    width: auto;
    color: white;
}