<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark py-1">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.png" class="float-start rounded responsive"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./who']">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./services']">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./admin']">admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.disabled]="!correct" [routerLink]="['./myaccount']">Mi Cuenta</a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column text-center">
        <div *ngIf="!correct">
            <img src="../../../assets/images/login.png" class="rounded-circle responsive2">
            <a class="nav-link texto" data-toggle="modal" data-target="#login">Login<span class="sr-only"></span></a>
        </div>
        <div *ngIf="correct">
            <img src="../../../assets/images/user1.JPG" class="rounded-circle responsive2">
            <a class="nav-link texto" (click)="closes()">Cerrar Sesión<span class="sr-only"></span></a>
        </div>

    </div>
</nav>



<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Inicio de Sesión</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form (ngSubmit)="ShowUser()">
                        <div class=" form-group ">
                            <label for="exampleInputEmail1 ">Correo Electrónico</label>
                            <input type="email " name="email" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Digite el correo " #find_email="ngModel" [(ngModel)]="findemail">
                            <small id="emailHelp " class="form-text text-muted ">Nunca compartiremos tu correo con algún tercero.</small>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputPassword1 ">Contraseña</label>
                            <input type="password " name="pass" class="form-control " id="exampleInputPassword1 " placeholder="Password " #find_email="ngModel" [(ngModel)]="pass">
                        </div>
                        <div class="row btn-group btn-group-justified d-flex">
                            <div class="col-6">
                                <button class="btn btn-primary ml-5 " data-toggle="modal" data-target="#registro">Registrarse</button>
                            </div>
                            <div class="col-6">
                                <form #listUser="ngForm" (ngSubmit)="ShowUser()">
                                    <button type="submit " class="btn btn-primary float-end ">Iniciar Sesión</button>
                                </form>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container ">
    <!-- The Modal -->
    <div class="modal fade " id="registro">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content ">

                <!-- Modal Header -->
                <div class="modal-header ">
                    <h4 class="modal-title ">Inicio de Sesión</h4>
                    <button type="button " class="close " data-dismiss="modal ">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <div class="container">
                        <h1 class="text-center mt-5"> Registrar Usuario</h1>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-10">

                                <form #registrarEstudianteForm="ngForm" (ngSubmit)="RegisterUser()">
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="name">Nombre</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="name" name="fistName" #firstName="ngModel" [(ngModel)]="user.name">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="lastName">Apellido</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="lastName" name="lastName" #firstName="ngModel" [(ngModel)]="user.lastname">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="Email">Email</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="Email" name="Email" #firstName="ngModel" [(ngModel)]="user.email">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="cc">Cc</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" id="cc" name="cc" #firstName="ngModel" [(ngModel)]="user.cc" value="">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="date">date</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="date" class="form-control" id="date" name="date" #firstName="ngModel" [(ngModel)]="user.date">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="pass">Password</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="password" class="form-control" id="Pass" name="Pass" #firstName="ngModel" [(ngModel)]="user.pass">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>