.responsive {
    height: 150px;
}

.responsive2 {
    width: 40%;
    height: 100%;
    align-self: center;
}

.texto {
    color: grey //rgb(154, 157, 141);
}

nav {
    width: 100%;
}

a {
    font-size: 20px;
    font-weight: bold;
}