<div class="d-row d-inline-flex" style="background-color: white;">
    <div class="col-lg-6 col-sm-12 text-justify m-2">
        <h1>¿Quiénes Somos?</h1>
        <p>

            Vaya, qué filosóficos nos pone está pregunta. Quiénes somos. Pues somos un montón de cosas. Pero para no aburrirte con el ser, la eternidad, la nada y la esencia. Aquí te mostramos un resumen.
            <br>
            <br> <b>Somos una plataforma web informativa</b>
            <br> Te informamos con todo lo relacionado a tu vehiculo
            <br>
            <br> <b>¿Qué es todo?</b>
            <br> Se trata de darte a conocer desde un único lugar centralizado: multas de los vehiculos a tu nombre, multas realizadas a ti, fechas de pago de seguro, historial clínico del vehiculo, SOAT y costo estimado mensual.
            <br>
            <br> <b>¿Quién soy yo?</b>
            <br> Bueno otra pregunta filosófica. Mi nombre es Michael Rivera, soy ingeniero electrónico de la Universidad de Valle, emprededor, con conocimientos en economía y mercados. Tengo experiencia como desarrollador de software, analista de QA
            y gerente de proyectos.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 text-center mt-5">
        <img src="assets/images/yo.png" class="float-start rounded">
    </div>
</div>