<div class="d-row d-inline-flex" style="background-color: white;">
    <div class="col-lg-6 col-sm-12 text-justify m-2">
        <h1>Pits - Servicios</h1>
        <p>
            <br> Somos la herramienta que se encarga de unir diferentes tipos de servicios relacionados a vehiculos:
            <br><br>
            <b>Multas:</b> Es una sanción que consiste en pagar una cantidad de dinero, impuesta por haber infringido una ley o haber cometido ciertas faltas o delitos. Te informamos sobre descuentos, multas que tienes a tu nombre y te informamos sobre
            las posibles consencuencias del no pago.
            <br><br>
            <b>Talleres:</b> a través de nuestra plataforma garantizamos agilidad, seguridad, profesionalismo y variedad para el mantenimiento o arreglo de vehículos, manejando un completo portafolio que permite al propietario automotor la tranquilidad
            de tener su vehículo arreglado, vigilado y asegurado.
            <br><br>
            <b>Seguros:</b> Te informamos sobre los seguros disponibles y la posibilidad de descuento. Tanto para el SOAT, como para el seguro contra todo riesgo: El SOAT es un seguro obligatorio establecido por Ley con un fin netamente social. Su objetivo
            es asegurar la atención, de manera inmediata e incondicional, de las víctimas de accidentes de tránsito que sufren lesiones corporales y muerte. Seguro contra todo riesgo: Es una garantía en caso de robo de partes o cuando se produce la desaparición
            forzada del automóvil. Entre otras coberturas tiene responsabilidad civil, grúas y asesoría legal.
            <br><br>
            <b>Repuestos:</b> Te informamos acerca de posibles descuento en repuestos, lugares confiables en dónde vas a recibir el repuesto que buscas y con la calidad que deseas.
            <br><br>
            <b>Historial Clínico:</b> Te entregamos un informe de los datos históricos de eventos que vivió o está viviendo el vehículo como accidentes, reparaciones, multas y cambio de propietario.
            <br><br>
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 text-center mt-5">
        <img src="assets/images/yo.png" class="float-start rounded">
    </div>
</div>