.responsive {
    width: 70%;
    height: 60%;
}

.responsive2 {
    width: 40%;
    height: 100%;
}

h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.texto {
    color: rgb(154, 157, 141);
}

.row {
    width: 101.1%;
}

nav {
    width: 100%;
}

.imgr {
    width: 200px;
    vertical-align: middle;
    border-color: grey;
    border-width: 2px;
}

.imgcarousel1 {
    width: 100%;
    height: 200px;
}

.imgcarousel {
    width: 25%;
    margin-left: 40%;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: grey;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: grey;
}