<div class="container">
    <div class="d-row d-inline-flex w-100" style="background-color: white;">
        <div class="col-lg-6 col-sm-12 icolor text-justify m-1">
            <div class="row form-group">
                <div class="col-6">
                    <label for="name"><b>Nombre</b></label>
                </div>
                <div class="col-lg-6 col-sm-12 icolor">
                    {{user.name}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-sm-12 icolor">
                    <label for="name"><b>Apellido</b></label>
                </div>
                <div class="col-lg-6 col-sm-12 icolor">
                    {{user.lastname}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-sm-12 icolor">
                    <label for="name"><b>Cc</b></label>
                </div>
                <div class="col-lg-6 col-sm-12 icolor">
                    {{user.cc}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6 col-sm-12 icolor">
                    <label for="name"><b>Correo</b></label>
                </div>
                <div class="col-lg-6 col-sm-12 icolor">
                    {{user.email}}
                </div>
            </div>


        </div>
        <div class="flex-column col-lg-6 col-sm-12 icolor text-center">
            <div class="p-2"> <img src="assets/images/user1.JPG" class="float-start rounded"></div>
            <div class="p-2"><button type="submit" class="btn btn-dark">Editar</button></div>

        </div>
    </div>

    <div class="greydiv text-center">
        <br>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center ">
            <h1>Mis Multas por Identificación</h1>
        </div>
        <div class="col-12 d-flex">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Cc</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Valor</th>
                        <th scope="col" class="text-center">Fecha</th>

                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fine of FoundFinescc; index as ind">

                        <tr *ngIf="!fine.type">

                            <td><input type="number " name="cc" class="form-control text-center" #lastname="ngModel" [(ngModel)]="fine.cc" [readonly]="!msg[ind]" id="table"></td>
                            <td><input type="text" name="description" class="form-control text-center" #date="ngModel" [(ngModel)]="fine.description" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="number" name="value" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.value" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="text" name="date" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.date" [readonly]="!msg[ind]" id="table">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center ">
            <h1>Mis Multas por Placa</h1>
        </div>
        <div class="col-12 d-flex">
            <table class="table table-striped table-dark mb-5">
                <thead>
                    <tr>

                        <th scope="col" class="text-center">Placa</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Valor</th>
                        <th scope="col" class="text-center">Fecha</th>

                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fine of FoundFinesplatefull; index as ind">
                        <tr *ngIf="fine.type">
                            <td><input type="text " name="cc" class="form-control text-center" #cc="ngModel" [(ngModel)]="fine.plate" [readonly]="!msg[ind]" id="table"></td>
                            <td><input type="text" name="description" class="form-control text-center" #date="ngModel" [(ngModel)]="fine.description" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="number" name="value" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.value" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="text" name="date" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.date" [readonly]="!msg[ind]" id="table">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>