<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-6">
            <form #listFine="ngForm" (ngSubmit)="ShowFine()">
                <div class="row form-group d-flex">
                    <div class="col-4 align-self-center">
                        <label for="listbyemail"> Buscar por <select name="cc" [(ngModel)]="tipo">
                            <option [ngValue]="false">Cc</option>
                            <option [ngValue]="true">Placa</option>
                            </select>:</label>
                    </div>
                    <div class="col-7" *ngIf="!tipo">
                        <input type="number " name="cc" class="form-control" id="exampleInputEmail1 " aria-describedby="emailHelp " #find_email="ngModel" [(ngModel)]="findcc">
                    </div>
                    <div class="col-7" *ngIf="tipo">
                        <input type="text " name="plate" class="form-control" id="exampleInputEmail1 " aria-describedby="emailHelp " #find_email="ngModel" [(ngModel)]="findplate">
                    </div>

                    <div class="col-1">
                        <button type="submit" class="btn btn-dark"><i class=" bi bi-search "></i></button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-2">
            <form #listFine="ngForm" (ngSubmit)="ShowFines()">
                <button type="submit" class="btn btn-dark">Buscar Todos</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-flex">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Cc</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Valor</th>
                        <th scope="col" class="text-center">Fecha</th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fine of FoundFines; index as ind">

                        <tr *ngIf="!fine.type">

                            <td><input type="number " name="cc" class="form-control text-center" #lastname="ngModel" [(ngModel)]="fine.cc" [readonly]="!msg[ind]" id="table"></td>
                            <td><input type="text" name="description" class="form-control text-center" #date="ngModel" [(ngModel)]="fine.description" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="number" name="value" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.value" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="text" name="date" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.date" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td>
                                <button class="btn btn-success" name="edit" id={{fine._id}} (click)="onEdit(ind)"><i class=" bi bi-pencil "></i></button></td>
                            <td>
                                <form #registrarEstudianteForm="ngForm" (ngSubmit)="RemoveFine(fine)"><button class="btn btn-danger "><i class="bi bi-person-dash-fill "></i></button></form>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5 flex-row-reverse mr-1">
        <form #registrarEstudianteForm="ngForm" (ngSubmit)="UpdateFine()">
            <button type="submit" class="btn btn-dark">Actualizar</button>
        </form>
        <form #registrarEstudianteForm="ngForm">
            <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#registrof" (click)="ShowUsers()">Registrar</button>
        </form>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-flex">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>

                        <th scope="col" class="text-center">Placa</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Valor</th>
                        <th scope="col" class="text-center">Fecha</th>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fine of FoundFines; index as ind">
                        <tr *ngIf="fine.type">

                            <td><input type="text " name="cc" class="form-control text-center" #cc="ngModel" [(ngModel)]="fine.plate" [readonly]="!msg[ind]" id="table"></td>
                            <td><input type="text" name="description" class="form-control text-center" #date="ngModel" [(ngModel)]="fine.description" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="number" name="value" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.value" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td><input type="text" name="date" class="form-control text-center" #email="ngModel" [(ngModel)]="fine.date" [readonly]="!msg[ind]" id="table">
                            </td>
                            <td>
                                <button class="btn btn-success" name="edit" id={{fine._id}} (click)="onEdit(ind)"><i class=" bi bi-pencil "></i></button></td>
                            <td>
                                <form #registrarEstudianteForm="ngForm" (ngSubmit)="RemoveFine(fine)"><button class="btn btn-danger "><i class="bi bi-person-dash-fill "></i></button></form>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-5 flex-row-reverse mr-1">
        <form #registrarEstudianteForm="ngForm" (ngSubmit)="UpdateFine()">
            <button type="submit" class="btn btn-dark">Actualizar</button>
        </form>
        <form #registrarEstudianteForm="ngForm">
            <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#registrof" (click)="ShowUsers()">Registrar</button>
        </form>
    </div>
</div>

<div class="container ">
    <!-- The Modal -->
    <div class="modal fade " id="registrof">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content ">

                <!-- Modal Header -->
                <div class="modal-header ">
                    <h4 class="modal-title ">Registrar Multa</h4>
                    <button type="button " class="close " data-dismiss="modal ">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <div class="container">
                        <h1 class="text-center mt-5"> Multa</h1>
                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-9">

                                <form #registrarEstudianteForm="ngForm" (ngSubmit)="RegisterFine()">
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="type">Tipo:</label>
                                        </div>
                                        <div class="col-6">
                                            <select name="cc" [(ngModel)]="fine.type">
                                            <option [ngValue]="false">Cc</option>
                                            <option [ngValue]="true">Placa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6" *ngIf="!fine.type">
                                            <label for="name">CC:</label>
                                        </div>
                                        <div class="col-6" *ngIf="fine.type">
                                            <label for="name">Placa:</label>
                                        </div>
                                        <div class="col-6" *ngIf="!fine.type">
                                            <select name="cc" [(ngModel)]="fine.cc">
                                                <option [value]="user.cc" *ngFor="let user of FoundUsers">{{user.cc}}</option>
                                                </select>
                                        </div>
                                        <div class="col-6" *ngIf="fine.type">
                                            <select name="cc" [(ngModel)]="fine.plate">
                                                <option [value]="vehicle.plate" *ngFor="let vehicle of FoundVehicles">{{vehicle.plate}}</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="plate">Descripción</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="plate" name="plate" #firstName="ngModel" [(ngModel)]="fine.description">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="brand">Valor</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" id="brand" name="brand" #firstName="ngModel" [(ngModel)]="fine.value">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-6">
                                            <label for="date">Fecha</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="date" class="form-control" id="date" name="date" #firstName="ngModel" [(ngModel)]="fine.date">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button type="submit" class="btn btn-primary">Registrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>