/* You can add global styles to this file, and also import other style files */

$theme-colors: ( light: white);
$waves-light: blue;
$navbar-light-color: grey;
$navbar-light-hover-color: black;
$navbar-light-active-color: Red;
@import 'bootstrap';